/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
}

#left {
  background-color: #30948D;
  float: left;
}

#middle {
  background-color: #9E1212;
  
}

#right {
  background-color:  #30948D;
  float: right;
}

#full {
}

#division {
}

aside {
}

footer {
}
